.aparat {
  &W {
    border: 1px solid var(--white-02, rgba(255, 255, 255, 0.20));
    padding: 40px;
  }

  &List {

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      display: flex;
      column-gap: 40px;

      &::before {
        content: '—';
      }
    }
  }
}

.workPriceHead {
  display: grid;
  grid-template-columns: auto 240px;

  .workPriceCol {
    &:nth-child(2){
      border-left: 1px solid var(--Gray, #BCBCBC);
    }
  }
}

.workPriceBody {
  .workPriceRow {
    display: grid;
    grid-template-columns: auto 240px;

    .workPriceCol:nth-child(2) {
      border-left: 1px solid var(--Gray, #BCBCBC);
      font-weight: 500;
    }
  }
}

.workPriceCol {
  border-bottom: 1px solid var(--Gray, #BCBCBC);
  padding-right: 40px;

  &:nth-child(2) {
    padding-left: 40px;   
  }
}
.priceParams {
 column-gap: 40px;
 row-gap: 20px; 
}
.priceParamIcon {
  width: 24px;
}